head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')

    meta(content='music compiler', name='description')
    meta(content='DPL group 2016', name='author')

    link(rel='stylesheet', href='/stylesheets/dropify.css')
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue_grey-red.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/highlight_styles/default.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src='/javascripts/speechSynthesis.js')
    script(type='text/javascript', src='/javascripts/Tone.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/client.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')

    
